<div class="container">
    <div>
        <h1>
            Meus Locais
        </h1>
    </div>
    <div>
        <h2> Novo local</h2>
        <div>
            <div class="form-group">
                <label for="apelido">Apelido</label>
                <input id="apelido" placeholder="apelido" [value]="apelido" type="text" class="form-control" #apelidoInput (keyup)="setApelido(apelidoInput.value)">
            </div>
            <div class="form-group">
                <label for="cep">Apelido</label>
                <input id="cep" placeholder="CEP" mask="00000-000" [value]="cep" type="text" class="form-control" #cepInput (keyup)="setCep(cepInput.value)">
            </div>
            <div><button class="btn btn-primary" (click)="saveNew()">Cadastrar</button></div>

        </div>

    </div>
    <div *ngFor="let location of locations">
        <!-- {{location.identifier}} -->

        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{location.identifier}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{location.cep}}</h6>

              <div *ngIf="location.address != null">

                <ul class="list-group">
                    <li class="list-group-item">{{location.address.cep}}</li>
                    <li class="list-group-item">{{location.address.logradouro}}</li>
                    <li class="list-group-item">{{location.address.complemento}}</li>
                    <li class="list-group-item">{{location.address.bairro}}</li>
                    <li class="list-group-item">{{location.address.localidade}}</li>
                    <li class="list-group-item">{{location.address.uf}}</li>
                    <!-- <li class="list-group-item">{{location.address.ibge}}</li>
                    <li class="list-group-item">{{location.address.gia}}</li>
                    <li class="list-group-item">{{location.address.ddd}}</li>
                    <li class="list-group-item">{{location.address.siafi}}</li> -->

                  </ul>

              </div>

              <div><button class="btn btn-danger" (click)="onExcludeClick(location)">Excluir</button></div>
            </div>
        </div>
    </div>

</div>
<router-outlet></router-outlet>